@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}
body{
    background: url(https://i.postimg.cc/sXzGcNdJ/ho.jpg);
    background-size: cover;
    background-size: 100% 110%;
}
.inicio{
    text-align: center;
    margin-top: 30px;
}
.inicio img{
    width: 75px;
    background: #fff;
    border-radius: 55px;
    border-style: solid;
}
.inicio h5{
    color: #fff;
    background: #000000;
    border-radius: 50px;
    width: 75px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-left: 40%;
}
.link{
    margin: 20px;
    margin: 10px;
    margin-top: 20px;
}
.link li{
    display: flex;
    list-style: none;
    padding: 10px;

}
.link a{
    color: #000;
    background: #ffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.link a:hover{
    background: #1b56d8;
    cursor: pointer;
    color: aliceblue;
}
.link img{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 10%;
    
}
.link2{
    margin: 15px;
    margin: 10px;
    margin-top: -15px;
}
li.link2 {
    display: flex;
    list-style: none;
    padding: 10px;

}
.link2 a{
    color: #000;
    background: #ffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.link2 a:hover{
    background: rgb(255,197,4);
    background: linear-gradient(90deg, rgba(255,197,4,1) 0%, rgba(255, 0, 98, 0.603) 50%, rgba(98, 0, 255, 0.753) 100%);
    cursor: pointer;
    color: aliceblue;
}
.link2 img{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 10%;
}
.link3{
    margin: 15px;
    margin: 10px;
    margin-top: -15px;
}
 li.link3{
    display: flex;
    list-style: none;
    padding: 10px;

}
.link3 a{
    color: #000;
    background: #ffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.link3 a:hover{
    background: #414f6b;
    cursor: pointer;
    color: aliceblue;
}
.link3 img{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 10%;
}
.link4{
    margin: 15px;
    margin: 10px;
    margin-top: -15px;
}
 li.link4{
    display: flex;
    list-style: none;
    padding: 10px;

}
.link4 a{
    color: #000;
    background: #ffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.link4 a:hover{
    background: #1b1c1d;
    cursor: pointer;
    color: aliceblue;
}
.link4 img{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 10%;
}
.link5{
    margin: 15px;
    margin: 10px;
    margin-top: -15px;
}
 li.link5{
    display: flex;
    list-style: none;
    padding: 10px;

}
.link5 a{
    color: #000;
    background: #ffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.link5 a:hover{
    background: #968a7f;
    cursor: pointer;
    color: aliceblue;
}
.link5 img{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 10%;
    border-radius: 50px;
    background: #fff;
}
.link6{
    margin: 15px;
    margin: 10px;
    margin-top: -15px;
}
 li.link6{
    display: flex;
    list-style: none;
    padding: 10px;

}
.link6 a{
    color: #000;
    background: #ffff;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.link6 a:hover{
    background: #68b4e0;
    cursor: pointer;
    color: aliceblue;
}
.link6 img{
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 10%;
    border-radius: 50px;
}

footer{
    margin-top: 50%;
    background: #464130d2;
    padding: 15px;
    align-items: center;
}
footer h4{
    font-size: 12px;
    color: #f1f1f1;
    text-align: center;
}